*.egg
*.gif
*.css
*.js
*.timepoint
thirdparty/*
piret.egg-info/*
*.annotations
*.seed_orthologs
*.tmp
*.txtr
piret/.DS_Store
.DS_Store
Rplots.pdf
.cache/v/cache/lastfailed
tests/test_prok/
tests/test_euk/
tests/test_both/
tests/test_prokold
*.sublime-project
*.sublime-workspace
.pytest_cache/
test_both/
test_euk/
test_prok/
migun/
*.out
*.png
*.pdf
# *.ctab
*.bedfile
*.tab
*.log
*.bam
*.gz
*.fastq
*.fa
*.db
*.fna
*.gff
comp.txt
*.ht2l
*.tsv
*.sam
*.csv
*.gtf
*.pyc
*.json
*.xml
test_euk.txt
test_prok.txt
test_summ.txt
build/*
piret.egg-info/*
dist/piret-0.1.0-py3.6.egg
*.ht*
*.summary
*novel.txt
*updated.gff
*unaligned*.fastq
*.trimmed.fastq
*prok.txt
*.fai
*stats.txt
*size.txt
*nove.gff
*no_region.gff
*novel.gff
*.splice
*.chroms
chr*.txt
SAindex
aas.faa
# thirdparty/eggnog-mapper/emapper.py
