pypiret/.DS_Store
.DS_Store
Rplots.pdf
.cache/v/cache/lastfailed
tests/test_prok/
tests/test_euk/
tests/test_both/
*.sublime-project
*.sublime-workspace
.pytest_cache/
test_both/
test_euk/
test_prok/
*.png
*.pdf
*.ctab
*.bedfile
*.tab
*.log
*.bam
*.ht2l
*.tsv
*.sam
*.csv
*.gtf
*.pyc
*.json
test_euk.txt
test_prok.txt
test_summ.txt
build/*
pypiret.egg-info/*
dist/pypiret-0.1.0-py3.6.egg
